body{
	font-family: 'Josefin Slab', serif;
	margin-left: 50px;
}

div{
	width: 180px;
	height:300px;
	display:block;
	padding: 30px;
	margin: 3px;
	background:#FDFAFA;
	float:left;
	opacity: 0.5;
}
div:hover{
	opacity: 1;
}
div:active{
	color: #F4EAEA;
}
	 p{

	font-family: serif;
	font-size:12px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 20px;
	text-decoration-color: red;
}

 h1 {
	font-family: serif;
	font-size: 20px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 50px;
	text-decoration-color: red;
}

 h2 {
	font-family: serif;
	font-size:15px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 30px;
	margin-left: 15px;
	text-decoration-color: red;

}

.fa.fa-telegram{
	height: 10px;	
	cursor: pointer;
	margin-bottom: 100px;
	margin-left: 45px;
	font-size: 100px;
	text-align: center;
	color:#6B6767;
	    
}

.fa.fa-diamond{
	height: 10px;	
	cursor: pointer;
	margin-bottom: 100px;
	margin-left: 45px;
	font-size: 100px;
	text-align: center;
	color:#6B6767;
	}

.fa.fa-heart-o {

	height: 10px;	
	cursor: pointer;
	margin-bottom: 100px;
	margin-left: 45px;
	font-size: 100px;
	text-align: center;
	color:#6B6767;
}
 
.fa.fa-coffee {

	height: 10px;	
	cursor: pointer;
	margin-bottom: 100px;
	margin-left: 45px;
	font-size: 100px;
	text-align: center;
	color:#6B6767;
}
  
.fa.fa-cutlery {

	height: 10px;	
	cursor: pointer;
	margin-bottom: 100px;
	margin-left: 45px;
	font-size: 100px;
	text-align: center;
	color:#6B6767;
}
